* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: linear-gradient(to right,#da637b,#396d8f,#875235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader